<app-codec-header
    [contact]="contact">
</app-codec-header>

<div
    class="codec-text-container">

    <div
        class="codec-text"
        [innerHtml]="getContent(codecCall.message)">
    </div>

    <!-- <div
        class="codec-buttons"> -->

        <a
            class="next-button"
            (click)="handleMainButtonClick()">
            {{ codecCall.reply }}
        </a>

        <!-- <a
            *ngIf="codecCall.altReply"
            (click)="handleAltButtonClick()">
            {{ codecCall.altReply }}
        </a> -->
    <!-- </div> -->
</div>
