<div
  class="filtering-controls">

  <div
    class="filter-group">

    <label
      for="filter-input">
      Filter orders by user name:
    </label>

    <input 
      id="filter-input"
      (input)="handleFilterInput($event.target.value)">
  </div>

  <div
    class="filter-group">

    <label
      for="include-completed-orders-checkbox">
      Include completed orders:
    </label>

    <input
      id="include-completed-orders-checkbox"
      type="checkbox"
      [checked]="includeCompletedOrders"
      (change)="handleCompletedOrdersCheckbox($event.target.checked)">
  </div>
</div>

<table
  class="orders-list">
  <thead
    class="header">
    <tr>
      <th>
        Username
      </th>
      <th>
        Product
      </th>
      <th>
        Order State
      </th>
      <th>
        Order Date
      </th>
      <th>
        Completion Date
      </th>
    </tr>
  </thead>
  <tbody
    class="body">
    <tr
      *ngFor="let order of ordersToDisplay"
      (click)="handleClick(order)">
      <td>
        {{ order.user.username }}
      </td>
      <td>
        {{ order.product.title }}
      </td>
      <td
        class="{{'order-state-' + order.orderState}}">
        {{ order.orderState | orderState }}
      </td>
      <td>
        {{ order.orderTimeStamp | date:'d LLL HH:mm' }}
      </td>
      <td>
        {{ order.completionTimeStamp | date:'d LLL HH:mm' }}
      </td>
    </tr>
  </tbody>
</table>
