<h4>Final Results</h4>
<div class="results-table">
    <div>
        <span>Total Play Time</span>
        <span>{{ results.playTime }}</span>
    </div>
    <div>
        <span>Completed Missions</span>
        <span>{{ results.completedMissions }}</span>
    </div>
    <div>
        <span>Rank</span>
        <span>{{ results.rank }}</span>
    </div>
    <div>
        <span>Hints Used</span>
        <span>{{ results.numberOfHintsUsed }}</span>
    </div>
    <div>
        <span>Title</span>
        <span>{{ results.title }}</span>
    </div>
</div>
