<div
  *ngIf="isLoggedIn"
  class="navigation-header">
  <nav>
    <a
      *ngIf="user.isAdmin"
      class="nav-tab"
      routerLink="/administration"
      routerLinkActive="aactive">
      Админко
    </a>
    <a 
      class="nav-tab" 
      routerLink="/codec" 
      routerLinkActive="active">
      Codec
    </a>
    <a 
      class="nav-tab" 
      routerLink="/store" 
      routerLinkActive="active">
      Drebin Store
    </a>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div mat-menu-item>
        {{ getUsernameIdString() }}
      </div>
      <button
        mat-menu-item
        (click)="logout()">
        Logout
      </button>
    </mat-menu>
  </nav>
</div>
<!-- <div
  *ngIf="!isLoggedIn"
  id="vk_auth"></div> -->

<router-outlet></router-outlet>
