<div
  *ngIf="isLoggedIn"
  class="navigation-header">
  <nav>
    <a
      *ngIf="user.isAdmin"
      class="nav-tab"
      routerLink="/administration"
      routerLinkActive="aactive">
      Administration
    </a>
    <a 
      class="nav-tab" 
      routerLink="/codec" 
      routerLinkActive="active">
      Codec
    </a>
    <a 
      class="nav-tab" 
      routerLink="/store" 
      routerLinkActive="active">
      Drebin Store
    </a>
  </nav>
  <a 
    class="logout-link" 
    (click)="logout()">
    Logout
  </a>
</div>
<router-outlet></router-outlet>
