@import '../../../../styles-vars.less';

:host {
    
    .filtering-controls {
        margin: 20px;

        .filter-group {
            margin-top: 10px;
        }
    }

    .users-list {
        border: @border;
        border-collapse: collapse;
        text-align: center;

        tr, th, td {
            border: @border;
        }

        th, td {
            padding: 5px;
        }
    }
}
