<app-products-list
  *ngIf="selectedProduct == null && !isProductAdderShown"
  [products]="products"
  (productSelected)="handleProductSelected($event)">
</app-products-list>

<app-product-details
  *ngIf="selectedProduct != null"
  [product]="selectedProduct"
  (goBackClick)="handleDetailsBackClick()">
</app-product-details>

<button
  *ngIf="selectedProduct == null && !isProductAdderShown"
  (click)="handleAddProductButtonClick()">
  Add Product
</button>

<app-product-adder
  *ngIf="isProductAdderShown"
  (productAdded)="handleProductAdded()"
  (cancelClick)="handleProductAddCancel()">
</app-product-adder>
