<nav
  *ngIf="!isNotWorking"
  class="codec-nav">
  <a 
    *ngFor="let contact of availableContacts"
    [routerLink]="['/codec', contact.frequency]"
    class="codec-link">
    
    <div
      class="contact-frequency">
      {{ contact.frequency }}
    </div>

    <div
      class="contact-name">
      {{ contact.name | uppercase }}
    </div>
  </a>
</nav>
<div
  *ngIf="isNotWorking"
  class="codec-not-working-container">
  <img
    src="./assets/codec/not_working.gif"
    class="codec-not-working-image">
</div>
