/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: Consolas, monaco, monospace;

    // background-color: #6C7F73;
    background: radial-gradient(at top, #6C7F73, #A7CECC);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

input.ng-dirty.ng-invalid {
    border: 1px solid red;
}
