<!-- TODO: change to properly styled link -->
<button
  (click)="handleGoBackClick()">
  Go back
</button>
<div
  class="user-info">
  <div>
    Id: {{ user.id }}
  </div>
  <div>
    Username: {{ user.username }}
  </div>
  <div>
    VK ID: {{ user.vkId || 'N/A' }}
  </div>
  <div>
    VK Link: 
    <a
      *ngIf="user.vkId" 
      [href]="getVkLink()">
      {{ getVkLink() }}
    </a>
    <span
      *ngIf="!user.vkId">
      N/A
    </span>
  </div>
  <div>
    Quest Stage: {{ user.mainQuestStage + 1 }}
  </div>
  <div>
    Quest on current stage: {{ user.numberOfQuestInCurrentAct + 1 }}
  </div>
  <div>
    Drebin Points: {{ user.drebinPoints }}
  </div>
  <div>
    Briefing Passed: {{ user.briefingPassed }}
  </div>
  <div>
    Can Manage Users : {{ user.canManageUsers }}
  </div>
  <div>
    Can Manage Orders: {{ user.canManageOrders }}
  </div>
  <div>
    Can Manage Products: {{ user.canManageProducts }}
  </div>
</div>
<div
  class="quest-stages-manager">
  <h4>
    Quest Stage
  </h4>
  <div
    class="quest-stages">
    <button
      *ngFor="let questStage of questStages"
      [class.disabled]="!questStage.isAvailable"
      [class.current]="questStage.isCurrentStage"
      (click)="updateMainQuestStage(questStage)">
      {{ questStage.title }}
    </button>
  </div>
</div>
<div
  class="act-quest-manager">
  <h4>
    Quest in current act
  </h4>
  <div>
    <button
      *ngFor="let quest of getQuestsForActButtons()"
      [class.current]="user.numberOfQuestInCurrentAct == quest"
      (click)="updateCurrentQuest(quest)">
      {{ quest + 1 }}
    </button>
  </div>
</div>
<div
  class="drebin-points-manager">
  <h4>
    Grant Drebin Points
  </h4>
  <div
    class="dp-increments">
    <button
      *ngFor="let increment of dpIncrements"
      [disabled]="isIncrementDisabled(increment)"
      (click)="grantPoints(increment)">
      {{ increment }}
    </button>
  </div>
</div>
<div
  *ngIf="currentUser.canManagePermissions"
  class="notifications-manager">
  <h4>
    Edit permissions
  </h4>

  <div
    class="checkbox-group">

    <label
      for="can-manage-users">
      Can manage users:
    </label>

    <input
      id="can-manage-users"
      type="checkbox"
      [checked]="user.canManageUsers"
      (change)="handleCanManageUsersChange($event.target.checked)">
  </div>

  <div
    class="checkbox-group">

    <label
      for="can-manage-orders">
      Can manage orders:
    </label>

    <input
      id="can-manage-orders"
      type="checkbox"
      [checked]="user.canManageOrders"
      (change)="handleCanManageOrdersChange($event.target.checked)">
  </div>

  <div
    class="checkbox-group">

    <label
      for="can-manage-products">
      Can manage products:
    </label>

    <input
      id="can-manage-products"
      type="checkbox"
      [checked]="user.canManageProducts"
      (change)="handleCanManageProductsChange($event.target.checked)">
  </div>

  <div
    class="checkbox-group">

    <label
      for="can-manage-permissions">
      Can manage permissions:
    </label>

    <input
      id="can-manage-permissions"
      type="checkbox"
      [checked]="user.canManagePermissions"
      (change)="handleCanManagePermissionsChange($event.target.checked)">
  </div>

</div>
<div
  class="notifications-manager">
  <h4>
    Send notification (TEST)
  </h4>
  <button
    [disabled]="!user.hasNotificationSubscription"
    (click)="sendNotification()">
    Send notification
  </button>
</div>
