<!-- TODO: change to properly styled link -->
<button
  (click)="handleGoBackClick()">
  Go back
</button>
<div
  class="user-info">
  <div>
    Id: {{ user.id }}
  </div>
  <div>
    Username: {{ user.username }}
  </div>
  <div>
    Quest Stage: {{ user.mainQuestStage + 1 }}
  </div>
  <div>
    Quest on current stage: {{ user.numberOfQuestInCurrentAct + 1 }}
  </div>
  <div>
    Drebin Points: {{ user.drebinPoints }}
  </div>
  <div>
    Briefing Passed: {{ user.briefingPassed }}
  </div>
  <div>
    Can Manager Users : {{ user.canManageUsers }}
  </div>
  <div>
    Can Manage Orders: {{ user.canManageOrders }}
  </div>
  <div>
    Can Manage Products: {{ user.canManageProducts }}
  </div>
</div>
<div
  class="quest-stages-manager">
  <h4>
    Quest Stage
  </h4>
  <div
    class="quest-stages">
    <button
      *ngFor="let questStage of questStages"
      [class.disabled]="!questStage.isAvailable"
      [class.current]="questStage.isCurrentStage"
      (click)="updateMainQuestStage(questStage)">
      {{ questStage.title }}
    </button>
  </div>
</div>
<div
  class="act-quest-manager">
  <h4>
    Quest in current act
  </h4>
  <div>
    <button
      *ngFor="let quest of getQuestsForActButtons()"
      [class.current]="user.numberOfQuestInCurrentAct == quest"
      (click)="updateCurrentQuest(quest)">
      {{ quest + 1 }}
    </button>
  </div>
</div>
<div
  class="drebin-points-manager">
  <h4>
    Grant Drebin Points
  </h4>
  <div
    class="dp-increments">
    <button
      *ngFor="let increment of dpIncrements"
      [disabled]="isIncrementDisabled(increment)"
      (click)="grantPoints(increment)">
      {{ increment }}
    </button>
  </div>
</div>
<div
  class="notifications-manager">
  <h4>
    Send notification (TEST)
  </h4>
  <button
    [disabled]="!user.hasNotificationSubscription"
    (click)="sendNotification()">
    Send notification
  </button>
</div>
